[submodule "3party/boost"]
	path = 3party/boost
	url = https://github.com/organicmaps/boost.git
# [submodule "3party/curl"]
# 	path = 3party/curl
# 	url = https://github.com/curl/curl.git
[submodule "3party/fast_obj"]
	path = 3party/fast_obj
	url = https://github.com/thisistherk/fast_obj.git
[submodule "3party/just_gtfs"]
	path = 3party/just_gtfs
	url = https://github.com/organicmaps/just_gtfs.git
[submodule "data/place_page_crowdin"]
	path = data/place_page_crowdin
	url = https://github.com/organicmaps/place_page_crowdin.git
[submodule "tools/jansson"]
	path = tools/jansson
	url = https://github.com/akheron/jansson.git
[submodule "tools/osmctools"]
	path = tools/osmctools
	url = https://github.com/organicmaps/osmctools.git
[submodule "tools/kothic"]
	path = tools/kothic
	url = https://github.com/organicmaps/kothic.git
[submodule "tools/python/twine"]
	path = tools/python/twine
	url = https://github.com/pypa/twine.git
[submodule "tools/python/maps_generator/var/etcuer"]
	path = tools/python/maps_generator/var/etcuer
	url = https://github.com/tbicr/etcuer.git
